h1,
footer {
  color: white;
  background-color: gray;
}

nav {
  float: left;
  border-right: 3px solid black;
  padding-right: 7px;
  height: 56vh;
}

a {
  text-decoration: none;
  color: black;
}

li {
  background-color: gray;
  padding: 10px;
  margin: 1px;
}

#principal {
  margin-left: 160px;
}

h2,
p {
  padding-left: 10px;
}

h1,
h2 {
  margin: 0px;
}
